.container{
    .row{
      .card-blog{
          padding: 10px;
          .card-content{
              border: 1px solid lightgray;
              padding: 5px;
              border-radius: 5px;
              height: 460px;
              img{
                  width: 100%;
              }
          }
      }
    }
}